<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="/user-list" class="thumbnail" data-url="http://jsonplaceholder.typicode.com/users">
       <div style="height: 170px; text-align: center; vertical-align: middle; padding-top: 73px;">   Users </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/post-list" class="thumbnail" data-url="http://jsonplaceholder.typicode.com/posts">
       <div style="height: 170px; text-align: center; vertical-align: middle; padding-top: 73px;">  Posts </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/comment-list" class="thumbnail" data-url="http://jsonplaceholder.typicode.com/comments">
       <div style="height: 170px; text-align: center; vertical-align: middle; padding-top: 73px;">   Comments </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/albums-list" class="thumbnail" data-url="http://jsonplaceholder.typicode.com/albums">
       <div style="height: 170px; text-align: center; vertical-align: middle; padding-top: 73px;">   Albums </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="photos-list" class="thumbnail" data-url="http://jsonplaceholder.typicode.com/photos">
       <div style="height: 170px; text-align: center; vertical-align: middle; padding-top: 73px;">   Photos </div>

    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/todo-list" class="thumbnail" data-url="http://jsonplaceholder.typicode.com/todos">
       <div style="height: 170px; text-align: center; vertical-align: middle; padding-top: 73px;">   Todos </div>
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail" data-url="http://jsonplaceholder.typicode.com/comments">
       <div style="height: 170px; text-align: center; vertical-align: middle; padding-top: 73px;">   Comming Soon..!!! </div>
    </a>
  </div>
</div>
<script src="js/home.js"></script>
