<h1>Photos List</h1>
<div class="row">
  {{#each photosList}}
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="{{thumbnailUrl}}" alt="{{title}}">
      </a>
    </div>
  {{/each}}
</div>
